DJANGO_DEBUG=True
DJANGO_SECRET_KEY=replace_me
DJANGO_ALLOWED_HOSTS=*

DATABASE_ENGINE=django.db.backends.mysql
DATABASE_NAME=xuanshang
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_HOST=db
DATABASE_PORT=3306

VITE_API_BASE_URL=/api
